
  <!-- CSS Plugins -->
    {#<link rel="stylesheet" href="{{ base_path ~ directory }}/vendor/ionicons/css/ionicons.min.css">#}

    <!-- CSS Global -->
    <!-- build:css assets/css/theme.min.css -->
    {#<link rel="stylesheet" href="{{ base_path ~ directory }}/css/styles.css">#}
    <!-- endbuild -->

  <style>


      .ui.vertical.menu{

          width: 19rem;
      }


  </style>



    <!-- LINE
    ================================================== -->

    <!-- WRAPPER
    ================================================== -->
    <div class="wrapper">


      {#<nav class="navbar fixed-top navbar-light bg-dark" style="" >#}

        {#<div class="row">#}
          {#<a class="navbar-brand" href="#">#}
            {#<img src="http://web01-prd-cctx-app01.ccpd.net/themes/cctx/img/brand.svg" width="100" height="100" alt="">#}

          {#</a>#}
        {#</div>#}


        {#<div class="row">#}
            {#{{ page.primary_menu }}#}
        {#</div>#}
      {#</nav>#}

      <!-- HEADER
      ================================================== -->
      <div class="header">
        {#<div class="container-fluid">#}
          {#<div class="row align-items-center">#}
            {#<div class="col-3 col-md-3">#}

              {#<!-- Brand -->#}
              {#<div class="header-brand">#}
                {#<img src="{{ base_path ~ directory }}/img/brand.svg" alt="City of Corpus Chriti Texas">#}
              {#</div>#}

            {#</div>#}
            {#<div class="col-9 col-md-6">#}
                {#{{ page.header_top }}#}
              {#<!-- Search -->#}
              {#<form class="header-search">#}

                {#<!-- Search: Controls -->#}
                {#<div class="form-group">#}
                  {#<label for="header-search" class="sr-only">#}
                    {#Search#}
                  {#</label>#}
                  {#<input type="search" class="form-control" id="header-search">#}
                {#</div>#}

                {#<!-- Search: Submit -->#}
                {#<button class="btn btn-primary">#}
                  {#<span class="d-none d-md-inline-block">search</span>#}
                  {#<i class="ion-search d-md-none"></i>#}
                {#</button>#}

              {#</form>#}

            {#</div>#}
          {#</div>#}
        {#</div>#}




        <div class="ui menu">

          <div class="item">
            <img src="http://web01-prd-cctx-app01.ccpd.net/themes/cctx/img/brand.svg" >
          </div>

          <div class="item">
            <div class="ui icon input">
              <input type="text" placeholder="Search...">
              <i class="search icon"></i>
            </div>
          </div>


          <div class="right item">
          <div class="ui buttons">
            <button class="ui button">


              <a href="/admin/login">Log-in</a></button>
            <div class="or"></div>
            <button class="ui positive button">Request Access</button>
          </div>
          </div>

        </div>





        {#<nav class="navbar navbar-light bg-dark" style="">#}
          {#<a class="navbar-brand" href="#">#}
            {#<img src="http://web01-prd-cctx-app01.ccpd.net/themes/cctx/img/brand.svg" class="d-inline-block align-top" >#}
          {#</a>#}
            {#{{ page.primary_menu }}#}
        {#</nav>#}

      </div> <!-- / .header -->

      <!-- NAVBAR
      ================================================== -->
      <div class="container-fluid">

        {#<button type="button" class="btn btn-primary">Primary</button>#}
        {#<button type="button" class="btn btn-secondary">Secondary</button>#}
        {#<button type="button" class="btn btn-success">Success</button>#}
        {#<button type="button" class="btn btn-danger">Danger</button>#}
        {#<button type="button" class="btn btn-warning">Warning</button>#}
        {#<button type="button" class="btn btn-info">Info</button>#}
        {#<button type="button" class="btn btn-light">Light</button>#}
        {#<button type="button" class="btn btn-dark">Dark</button>#}

        {#<button type="button" class="btn btn-link">Link</button>#}






        {#<nav class="navbar fixed-top navbar-light bg-dark" style="" >#}

          {#<div class="row">#}
            {#<a class="navbar-brand" href="#">#}
              {#<img src="http://web01-prd-cctx-app01.ccpd.net/themes/cctx/img/brand.svg" width="100" height="100" alt="">#}

            {#</a>#}
          {#</div>#}


{#<div class="row">#}
            {#{{ page.primary_menu }}#}
{#</div>#}
        {#</nav>#}

        {#<h1>davisond</h1>#}
{#{{ page.breadcrumb }}#}
        {#<!-- Image and text -->#}
        {#<nav class="navbar fixed-bottom  navbar-light bg-dark">#}
          {#<a class="navbar-brand" href="#">#}
            {#<img src="http://web01-prd-cctx-app01.ccpd.net/themes/cctx/img/brand.svg" width="30" height="30" class="d-inline-block align-top" alt="">#}

          {#</a>#}

        </nav>


        {#<ul class="nav nav-tabs">#}
          {#<li class="nav-item">#}
            {#<a class="nav-link active" href="#">Active</a>#}
          {#</li>#}
          {#<li class="nav-item dropdown">#}
            {#<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Dropdown</a>#}
            {#<div class="dropdown-menu">#}
              {#<a class="dropdown-item" href="#">Action</a>#}
              {#<a class="dropdown-item" href="#">Another action</a>#}
              {#<a class="dropdown-item" href="#">Something else here</a>#}
              {#<div class="dropdown-divider"></div>#}
              {#<a class="dropdown-item" href="#">Separated link</a>#}
            {#</div>#}
          {#</li>#}
          {#<li class="nav-item">#}
            {#<a class="nav-link" href="#">Link</a>#}
          {#</li>#}
          {#<li class="nav-item">#}
            {#<a class="nav-link disabled" href="#">Disabled</a>#}
          {#</li>#}
        {#</ul>#}



{#<h2>#}
{#<pre>#}

     {#{% for i  in range(0, 3) %}#}
         {#{{ i }}#}
     {#{% endfor %}#}



    {#{{ dump(_context|keys) }}#}
  {#{{ dump(page) }}#}

  {#</pre>#}
{#</h2>#}


        {#<div class="alert alert-success" role="alert">#}
          {#<h4 class="alert-heading">Test Alert</h4>#}
          {#<p>Aww yeah, you successfully read this important alert message. This example text is going to run a bit longer so that you can see how spacing within an alert works with this kind of content.</p>#}
          {#<hr>#}
          {#<p class="mb-0">Whenever you need to, be sure to use margin utilities to keep things nice and tidy.</p>#}
        {#</div>#}





        {#<nav class="navbar navbar-light bg-dark">#}
          {#<a class="navbar-brand" href="#">#}
            {#<img src="http://web01-prd-cctx-app01.ccpd.net/themes/cctx/img/brand.svg" width="30" height="30" class="d-inline-block align-top" alt="">#}
            {#Menu Drop Down Test#}
          {#</a>#}



        {#</nav>#}


{# -------------------------------------------------------------------------------
 #}

<!--[if IE 6]>
<style>
body {behavior: url("csshover3.htc");}
#menu li .drop {background:url("img/drop.gif") no-repeat right 8px;
</style>
<![endif]-->






 {# --------------------------------------------------- #}


        <nav class="navbar navbar-expand-sm navbar-light">

          {##}
          <!-- Toggle -->
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <!-- Collapse -->
          <div class="collapse navbar-collapse" id="navbar" style="margin-top: -10px;">

            {{ page.primary_menu }}
        {# .btn-navbar is used as the toggle for collapsed navbar content #}
        {% if page.navigation_collapsible %}
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
            <span class="sr-only">{{ 'Toggle navigation'|t }}</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        {% endif %}


          </div> <!-- / .navbar-collapse -->

        </nav>
      </div>
      <!-- CONTENT
      ================================================== -->
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-3 col-xl-2">



            <!-- Aside -->
            <aside class="aside">
               {{ page.sidebar_first }}



                <div class="ui vertical menu">
                    <div class="item">
                        <div class="header">
                            <a class="ui blue   ribbon label">Employee Resources</a></div>
                        <div class="menu">
                            <a class="item">LINK 1</a>
                            <a class="item">LINK 1</a>
                            <a class="item">LINK 1</a>
                            <a class="item">LINK 1</a>
                            <a class="item">LINK 1</a>
                            <a class="item">LINK 1</a>
                            <a class="item">LINK 1</a>
                            <a class="item">LINK 1</a>
                            <a class="item">LINK 1</a>
                            <a class="item">LINK 1</a>
                            
                        </div>
                    </div>
               
               
                </div>


                     <div class="ui vertical menu">
                    <a class="active teal item">New Policies
                        <div class="ui teal left pointing label">3</div>
                    </a>
                    <a class="item">
                        Updated HR Policies
                        <div class="ui label">5</div>
                    </a>
                    <a class="item">
                        New Fire Policies
                        <div class="ui label">1</div>
                    </a>
                    <div class="item">
                        <div class="ui transparent icon input">
                            <input type="text" placeholder="Search Policies...">
                            <i class="search icon"></i>
                        </div>
                    </div>
                </div>


   
           <!--           <div class="ui one column grid">
                    <div class="column">
                        <div class="ui raised segment">
                            <a class="ui red ribbon label">
                            
                               Latest City Employee Newsletter</a> 
                     
                            <p></p>
                                <i class="huge blue file pdf icon"></i>
                                <button class="ui button">
                    <i class="user icon"></i>
                    Follow
                </button>
                                <p> </p>
                            <a class=" ui blue  ribbon label">Latest from HR</a>
                            <span>  test</span>
                            <p>test</p>
                              <a class=" ui teal ribbon label">Latest from IT</a>
                           
                        </div>
                    </div>

                </div>
 -->



            </aside>

       


          </div>
          <div class="col-md-6 col-xl-8">

            <!-- Main -->
            <main class="main">

            {{ page.highlighted }}
              {#<div class="ui grid">#}
                {#<div class="twelve wide stretched column">#}
                  {#<div class="ui segment">#}
                    {#This is an stretched grid column. This segment will always match the tab height#}
                  {#</div>#}
                {#</div>#}
                {#<div class="four wide column">#}
                  {#<div class="ui vertical fluid right tabular menu">#}
                    {#<a class="active item">#}
                      {#Bio#}
                    {#</a>#}
                    {#<a class="item">#}
                      {#Pics#}
                    {#</a>#}
                    {#<a class="item">#}
                      {#Companies#}
                    {#</a>#}
                    {#<a class="item">#}
                      {#Links#}
                    {#</a>#}
                  {#</div>#}
                {#</div>#}
              {#</div>#}

              {#<div class="ui labeled icon menu">#}
                {#<a class="item">#}
                  {#<i class="gamepad icon"></i>#}
                  {#Polcies#}
                {#</a>#}
                {#<a class="item">#}
                  {#<i class="calendar alternate icon"></i>#}
                  {#Calendar#}
                {#</a>#}
                {#<a class="item">#}
                  {#<i class="video play icon"></i>#}
                  {#Applicaiton & Information#}
                {#</a>#}
              {#</div>#}
              {#<div class="ui vertical labeled icon menu">#}
                {#<a class="item active">#}
                  {#<i class="gamepad icon"></i>#}
                  {#Payroll Calendar#}
                {#</a>#}
                {#<a class="item">#}
                  {#<i class="video camera icon"></i>#}
                  {#People#}
                {#</a>#}
                {#<a class="item">#}
                  {#<i class="video play icon"></i>#}
                  {#People#}
                {#</a>#}
              {#</div>#}








              <!-- Divider -->
              <hr class="main-divider">

              <div class="row">

                

              <br>  



                  {#<div class="main-news">#}
                      {#<div class="row no-gutters">#}
                          {#<div class="col-md-4 col-xl-3">#}

                              {#<!-- Pills -->#}
                              {#<ul class="nav nav-pills" id="pills-tab" role="tablist">#}
                                  {#<li class="nav-item">#}
                                      {#<a class="nav-link active" id="pills-1-tab" role="tab" aria-selected="true" aria-controls="pills-1" href="#pills-1" data-toggle="pill">#}
                                          {#<h4>What's New</h4>#}
                                          {#<p>#}
                                              {#Our brand new corporate intranet#}
                                          {#</p>#}
                                      {#</a>#}
                                  {#</li>#}
                                  {#<li class="nav-item">#}
                                      {#<a class="nav-link" id="pills-2-tab" role="tab" aria-selected="false" aria-controls="pills-2" href="#pills-2" data-toggle="pill">#}
                                          {#<h4>Forms</h4>#}
                                          {#<p>#}
                                              {#Learn about new policies#}
                                          {#</p>#}
                                      {#</a>#}
                                  {#</li>#}
                                  {#<li class="nav-item">#}
                                      {#<a class="nav-link" id="pills-3-tab" role="tab" aria-selected="false" aria-controls="pills-3" href="#pills-3" data-toggle="pill">#}
                                          {#<h4>People</h4>#}
                                          {#<p>#}
                                              {#Search people directory#}
                                          {#</p>#}
                                      {#</a>#}
                                  {#</li>#}
                                  {#<li class="nav-item">#}
                                      {#<a class="nav-link" id="pills-4-tab" role="tab" aria-selected="false" aria-controls="pills-4" href="#pills-4" data-toggle="pill">#}
                                          {#<h4>City Manager</h4>#}
                                          {#<p>#}
                                              {#Latest CM comments#}
                                          {#</p>#}
                                      {#</a>#}
                                  {#</li>#}
                              {#</ul>#}

                          {#</div>#}
                          {#<div class="col-md-8 col-xl-9">#}

                              {#<!-- Content -->#}
                              {#<div class="tab-content" id="pills-tabContent">#}
                                  {#<div class="tab-pane fade show active" id="pills-1" role="tabpanel" aria-labelledby="pills-1-tab">#}
                                      {#<img class="img-fluid" alt="What's New Image" src="http://placehold.it/1920x1280">#}
                                  {#</div>#}
                                  {#<div class="tab-pane fade" id="pills-2" role="tabpanel" aria-labelledby="pills-2-tab">#}
                                      {#<img class="img-fluid" alt="Forms Image" src="http://placehold.it/1920x1280">#}
                                  {#</div>#}
                                  {#<div class="tab-pane fade" id="pills-3" role="tabpanel" aria-labelledby="pills-3-tab">#}
                                      {#<img class="img-fluid" alt="People Image" src="http://placehold.it/1920x1280">#}
                                  {#</div>#}
                                  {#<div class="tab-pane fade" id="pills-4" role="tabpanel" aria-labelledby="pills-4-tab">#}
                                      {#<img class="img-fluid" alt="City Manager Image" src="http://placehold.it/1920x1280">#}
                                  {#</div>#}
                              {#</div>#}

                          {#</div>#}
                      {#</div> <!-- / .row -->#}
                  {#</div>#}

                  {{ page.content }}
                  <div class="col-md-6 col-xl-8">


                            <p> Look Who's New!</p>
                <div class="ui card">
                    <div class="content">
                        <div class="center aligned header">Jenny Hess</div>
                        <div class="center aligned description">
                            <p>Jenny is a student studying Media Management at the New School</p>
                        </div>
                    </div>
                    <div class="extra content">
                        <div class="center aligned author">
                            <img class="ui avatar image" src="/themes/cctx/img/jenny.jpg"> Jenny
                        </div>
                    </div>
                </div>
                   <div class="ui card">
                    <div class="content">
                        <div class="center aligned header">Jenny Hess</div>
                        <div class="center aligned description">
                            <p>Jenny is a student studying Media Management at the New School</p>
                        </div>
                    </div>
                    <div class="extra content">
                        <div class="center aligned author">
                            <img class="ui avatar image" src="/themes/cctx/img/jenny.jpg"> Jenny
                        </div>
                    </div>
                </div>
                   <div class="ui card">
                    <div class="content">
                        <div class="center aligned header">Jenny Hess</div>
                        <div class="center aligned description">
                            <p>Jenny is a student studying Media Management at the New School</p>
                        </div>
                    </div>
                    <div class="extra content">
                        <div class="center aligned author">
                            <img class="ui avatar image" src="/themes/cctx/img/jenny.jpg"> Jenny
                        </div>
                    </div>
                </div>



                  </div>








              </div>

              <br>  <br>

      
            </main>

          </div>
          <div class="col-md-3 col-xl-2">

            <!-- A1side -->
            <aside class="aside">

            <!--     Example

                <i class="bordered users icon"></i>
                <i class="bordered teal users icon"></i>
                <i class="bordered inverted black users icon"></i>
                <i class="bordered inverted teal users icon"></i>
                <i class="circular users icon"></i>
                <i class="circular teal users icon"></i>
                <i class="circular inverted users icon"></i>
                <i class="circular inverted teal users icon"></i>

                <div class="ui inverted segment">
                    <i class="inverted users icon"></i>
                    <i class="inverted red users icon"></i>
                    <i class="inverted orange users icon"></i>
                    <i class="inverted yellow users icon"></i>
                    <i class="inverted olive users icon"></i>
                    <i class="inverted green users icon"></i>
                    <i class="inverted teal users icon"></i>
                    <i class="inverted blue users icon"></i>
                    <i class="inverted violet users icon"></i>
                    <i class="inverted purple users icon"></i>
                    <i class="inverted pink users icon"></i>
                    <i class="inverted brown users icon"></i>
                    <i class="inverted grey users icon"></i>
                </div>

                <button class="ui active button">
                    <i class="user icon"></i>
                    Follow
                </button> -->


       

              {#<div class="ui relaxed divided list">#}
                {#<a class="item" href="">#}
                  {#<i class="arrow circle right icon"></i>#}
                  {#lfkasldfkjsk#}
                {#</a>#}
                {#<div class="item">#}
                  {#<i class="arrow circle right icon"></i>#}
                  {#<div class="content">#}
                    {#<a class="header">Semantic-Org/Semantic-UI</a>#}
                    {#<div class="description">Updated 10 mins ago</div>#}
                  {#</div>#}
                {#</div>#}
                {#<div class="item">#}
                  {#<i class="large github middle aligned icon"></i>#}
                  {#<div class="content">#}
                    {#<a class="header">Semantic-Org/Semantic-UI-Docs</a>#}
                    {#<div class="description">Updated 22 mins ago</div>#}
                  {#</div>#}
                {#</div>#}
                {#<div class="item">#}
                  {#<i class="large github middle aligned icon"></i>#}
                  {#<div class="content">#}
                    {#<a class="header">Semantic-Org/Semantic-UI-Meteor</a>#}
                    {#<div class="description">Updated 34 mins ago</div>#}
                  {#</div>#}
                {#</div>#}
              {#</div>#}

       

            
                <div class="ui relaxed divided list">
              {{ page.sidebar_second }}


              </div>

              <div class="ui card">
                  <div class="content">
                      <div class="header">            City Employee Newsletter</div>
                           <a class="ui  ribbon label">
                            
                               Latest City Employee Newsletter</a> 
                     
                            <p></p>
                                <i class="large red file pdf icon"></i>
                    
                  </div>
                  <div class="content">
                      <h4 class="ui sub header">   In today's City Employee Newsletter:</h4>
                      <div class="ui small feed">
                          <div class="event">
                              <div class="content">
                                  <div class="summary">


                                      Calling all artists! Here's an opportunity to flex those creative muscles.
                                      Speaking of muscles, meet our Wellness Coordinator - your resource for healthier living.
                                      See what you can do to help our local Meals on Wheels Program.
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="extra content">
                                <button class="ui button small">
                    <i class="large red file pdf icon"></i>
                    Read
                </button>
                <button class="ui red basic button"> <i class="large red file pdf icon"></i>test</button>
                     
                  </div>
              </div>

                <div class="ui relaxed divided list">


     
                </div>



         
          


                <div class="ui vertical menu">
                    <a class="item">
                        <h4 class="ui header">Food Truck Placeholder Block</h4>

                    </a>

                </div>


                <div class="ui vertical menu">
                    <a class="item">
                        <h4 class="ui header">Weather Alert Placeholder Block</h4>

                    </a>

                </div>

                <div class="ui vertical menu">
                    <a class="item">
                        <h4 class="ui header">Social Media Icons Placeholder Block</h4>

                    </a>

                </div>



              <div class="aside-links">


              <!-- Links -->

              <!-- New -->
              {#<div class="aside-new">#}
                {##}
                {#<!-- Heading -->#}
                {#<h3 class="aside-new-heading">#}
                  {#Look whos new#}
                {#</h3>#}
                {##}
                {#<!-- Body -->#}
                {#<div class="aside-new-body">#}
                  {##}
                  {#<!-- Item -->#}
                  {#<div class="aside-new-body-item">#}

                    {#<!-- Header -->#}
                    {#<div class="aside-new-body-item-header">#}

                      {#<!-- Image -->#}
                      {#<img src="http://placehold.it/240x240" class="img-fluid" alt="Jacqueline Washington">#}

                      {#<!-- Content -->#}
                      {#<div class="aside-new-body-item-header-content">#}
                        {#<h4>#}
                          {#Jacqueline Washington#}
                        {#</h4>#}
                        {#<p>#}
                          {#(Seniour Account Clerk)#}
                        {#</p>#}
                      {#</div>#}

                    {#</div>#}
                    {##}
                    {#<!-- Body -->#}
                    {#<p class="aside-new-body-item-body">#}
                      {#Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque labore natus quod nulla est.#}
                    {#</p>#}

                  {#</div>#}

                  {#<!-- Item -->#}
                  {#<div class="aside-new-body-item">#}

                    {#<!-- Header -->#}
                    {#<div class="aside-new-body-item-header">#}

                      {#<!-- Image -->#}
                      {#<img src="http://placehold.it/240x240" class="img-fluid" alt="Jacqueline Washington">#}

                      {#<!-- Content -->#}
                      {#<div class="aside-new-body-item-header-content">#}
                        {#<h4>#}
                          {#Jacqueline Washington#}
                        {#</h4>#}
                        {#<p>#}
                          {#(Seniour Account Clerk)#}
                        {#</p>#}
                      {#</div>#}

                    {#</div>#}
                    {##}
                    {#<!-- Body -->#}
                    {#<p class="aside-new-body-item-body">#}
                      {#Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque labore natus quod nulla est.#}
                    {#</p>#}

                  {#</div>#}

                {#</div>#}

              {#</div>#}



            </aside>



          </div>
        </div> <!-- / .row -->
      </div> <!-- / .container-fluid -->

      <!-- FEEDBACK
      ================================================== -->
      <a href="#" class="feedback">
        <i class="ion-chatbox"></i> Feedback
      </a>

      {{footer_first }}
    </div> <!-- / .wrapper -->

    <!-- LINE
    ================================================== -->
    {#<div class="line line-bottom"></div>#}



    <!-- JS Global -->
    {#<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>#}
    {#<script src="http://simpleqode.com/preview/sandbox/christi/2/assets/bootstrap/js/bootstrap.bundle.min.js"></script>#}

    <!-- JS Plugins -->

    <!-- JS Custom -->
    <!-- build:js assets/js/theme.min.js -->
    {#<script src="http://simpleqode.com/preview/sandbox/christi/2/assets/js/theme.js"></script>#}
    <!-- endbuild -->
    {#<script src="http://simpleqode.com/preview/sandbox/christi/2/assets/js/custom.js"></script>#}

  <script type="text/javascript">

      jQuery(document).ready(function(){

         jQuery('.ui.modal').modal('show');
      });

  </script>