
  <!-- CSS Plugins -->
    <link rel="stylesheet" href="{{ base_path ~ directory }}/vendor/ionicons/css/ionicons.min.css">

    <!-- CSS Global -->
    <!-- build:css assets/css/theme.min.css -->
    <link rel="stylesheet" href="{{ base_path ~ directory }}/css/styles.css">
    <!-- endbuild -->



    <!-- LINE
    ================================================== -->

    <!-- WRAPPER
    ================================================== -->
    <div class="wrapper">

      <!-- HEADER
      ================================================== -->
      <div class="header">

        <div class="container-fluid">
          <div class="row align-items-center">
            <div class="col-3 col-md-3">

              <!-- Brand -->
              <div class="header-brand">
                <img src="{{ base_path ~ directory }}/img/brand.svg" alt="City of Corpus Chriti Texas">
              </div>

            </div>
            <div class="col-9 col-md-6">
                {#{{ page.header_top }}#}
              <!-- Search -->
              <form class="header-search">

                <!-- Search: Controls -->
                <div class="form-group">
                  <label for="header-search" class="sr-only">
                    Search
                  </label>
                  <input type="search" class="form-control" id="header-search">
                </div>

                <!-- Search: Submit -->
                <button class="btn btn-primary">
                  <span class="d-none d-md-inline-block">search</span>
                  <i class="ion-search d-md-none"></i>
                </button>

              </form>

            </div>
          </div>
        </div>
      </div> <!-- / .header -->

      <!-- NAVBAR
      ================================================== -->
      <div class="container-fluid">

        {#<button type="button" class="btn btn-primary">Primary</button>#}
        {#<button type="button" class="btn btn-secondary">Secondary</button>#}
        {#<button type="button" class="btn btn-success">Success</button>#}
        {#<button type="button" class="btn btn-danger">Danger</button>#}
        {#<button type="button" class="btn btn-warning">Warning</button>#}
        {#<button type="button" class="btn btn-info">Info</button>#}
        {#<button type="button" class="btn btn-light">Light</button>#}
        {#<button type="button" class="btn btn-dark">Dark</button>#}

        {#<button type="button" class="btn btn-link">Link</button>#}

        <nav class="navbar fixed-top  navbar-light bg-dark">
          <a class="navbar-brand" href="#">
            <img src="http://web01-prd-cctx-app01.ccpd.net/themes/cctx/img/brand.svg" width="100" height="100" alt="">

          </a>

            {{ page.primary_menu }}
        </nav>

        {#<h1>davisond</h1>#}
{#{{ page.breadcrumb }}#}
        {#<!-- Image and text -->#}
        <nav class="navbar fixed-bottom  navbar-light bg-dark">
          <a class="navbar-brand" href="#">
            <img src="http://web01-prd-cctx-app01.ccpd.net/themes/cctx/img/brand.svg" width="30" height="30" class="d-inline-block align-top" alt="">

          </a>

        </nav>


        {#<ul class="nav nav-tabs">#}
          {#<li class="nav-item">#}
            {#<a class="nav-link active" href="#">Active</a>#}
          {#</li>#}
          {#<li class="nav-item dropdown">#}
            {#<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Dropdown</a>#}
            {#<div class="dropdown-menu">#}
              {#<a class="dropdown-item" href="#">Action</a>#}
              {#<a class="dropdown-item" href="#">Another action</a>#}
              {#<a class="dropdown-item" href="#">Something else here</a>#}
              {#<div class="dropdown-divider"></div>#}
              {#<a class="dropdown-item" href="#">Separated link</a>#}
            {#</div>#}
          {#</li>#}
          {#<li class="nav-item">#}
            {#<a class="nav-link" href="#">Link</a>#}
          {#</li>#}
          {#<li class="nav-item">#}
            {#<a class="nav-link disabled" href="#">Disabled</a>#}
          {#</li>#}
        {#</ul>#}



{#<h2>#}
{#<pre>#}

     {#{% for i  in range(0, 3) %}#}
         {#{{ i }}#}
     {#{% endfor %}#}



    {#{{ dump(_context|keys) }}#}
  {#{{ dump(page) }}#}

  {#</pre>#}
{#</h2>#}


        {#<div class="alert alert-success" role="alert">#}
          {#<h4 class="alert-heading">Test Alert</h4>#}
          {#<p>Aww yeah, you successfully read this important alert message. This example text is going to run a bit longer so that you can see how spacing within an alert works with this kind of content.</p>#}
          {#<hr>#}
          {#<p class="mb-0">Whenever you need to, be sure to use margin utilities to keep things nice and tidy.</p>#}
        {#</div>#}





        {#<nav class="navbar navbar-light bg-dark">#}
          {#<a class="navbar-brand" href="#">#}
            {#<img src="http://web01-prd-cctx-app01.ccpd.net/themes/cctx/img/brand.svg" width="30" height="30" class="d-inline-block align-top" alt="">#}
            {#Menu Drop Down Test#}
          {#</a>#}



        {#</nav>#}


{# -------------------------------------------------------------------------------
 #}

<!--[if IE 6]>
<style>
body {behavior: url("csshover3.htc");}
#menu li .drop {background:url("img/drop.gif") no-repeat right 8px; 
</style>
<![endif]-->
 



 

 
 {# --------------------------------------------------- #}


        <nav class="navbar navbar-expand-sm navbar-light">

          {##}
          <!-- Toggle -->
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <!-- Collapse -->
          <div class="collapse navbar-collapse" id="navbar" style="margin-top: -10px;">

            {{ page.primary_menu }}
        {# .btn-navbar is used as the toggle for collapsed navbar content #}
        {% if page.navigation_collapsible %}
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
            <span class="sr-only">{{ 'Toggle navigation'|t }}</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        {% endif %}


          </div> <!-- / .navbar-collapse -->

        </nav>
      </div>
      <!-- CONTENT 
      ================================================== -->
      <div class="container-fluid"> 
        <div class="row"> 
          <div class="col-md-3 col-xl-2">
            
            <!-- Aside -->
            <aside class="aside">
               {{ page.sidebar_first }}
           </aside>

          </div>
          <div class="col-md-6 col-xl-8">

            <!-- Main -->
            <main class="main">
              
            {{ page.highlighted }}

             
              <!-- Divider -->
              <hr class="main-divider">

              <div class="row">
               {{ page.content }}
               
              </div>

            </main>
            
          </div>
          <div class="col-md-3 col-xl-2">
            
            <!-- Aside -->
            <aside class="aside">
             {{ page.sidebar_second }}

              <!-- Links -->
             
              <!-- New -->
              <div class="aside-new">
                
                <!-- Heading -->
                <h3 class="aside-new-heading">
                  Look whos new
                </h3>
                
                <!-- Body -->
                <div class="aside-new-body">
                  
                  <!-- Item -->
                  <div class="aside-new-body-item">

                    <!-- Header -->
                    <div class="aside-new-body-item-header">

                      <!-- Image -->
                      <img src="http://placehold.it/240x240" class="img-fluid" alt="Jacqueline Washington">

                      <!-- Content -->
                      <div class="aside-new-body-item-header-content">
                        <h4>
                          Jacqueline Washington
                        </h4>
                        <p>
                          (Seniour Account Clerk)
                        </p>
                      </div>

                    </div>
                    
                    <!-- Body -->
                    <p class="aside-new-body-item-body">
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque labore natus quod nulla est.
                    </p>

                  </div>

                  <!-- Item -->
                  <div class="aside-new-body-item">

                    <!-- Header -->
                    <div class="aside-new-body-item-header">

                      <!-- Image -->
                      <img src="http://placehold.it/240x240" class="img-fluid" alt="Jacqueline Washington">

                      <!-- Content -->
                      <div class="aside-new-body-item-header-content">
                        <h4>
                          Jacqueline Washington
                        </h4>
                        <p>
                          (Seniour Account Clerk)
                        </p>
                      </div>

                    </div>
                    
                    <!-- Body -->
                    <p class="aside-new-body-item-body">
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque labore natus quod nulla est.
                    </p>

                  </div>

                </div>

              </div>
              
            </aside>

          </div>
        </div> <!-- / .row -->
      </div> <!-- / .container-fluid -->

      <!-- FEEDBACK
      ================================================== -->
      <a href="#" class="feedback">
        <i class="ion-chatbox"></i> Feedback
      </a>
      
    </div> <!-- / .wrapper -->

    <!-- LINE
    ================================================== -->
    {#<div class="line line-bottom"></div>#}



    <!-- JS Global -->
    {#<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>#}
    {#<script src="http://simpleqode.com/preview/sandbox/christi/2/assets/bootstrap/js/bootstrap.bundle.min.js"></script>#}

    <!-- JS Plugins -->

    <!-- JS Custom -->
    <!-- build:js assets/js/theme.min.js -->
    {#<script src="http://simpleqode.com/preview/sandbox/christi/2/assets/js/theme.js"></script>#}
    <!-- endbuild -->
    {#<script src="http://simpleqode.com/preview/sandbox/christi/2/assets/js/custom.js"></script>#}

  <script type="text/javascript">



  </script>